<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" > 
  <head>
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /> 
    <title>Fichier XML-Default</title>
    
    <!-- Navigator Page Id -->
    <meta http-equiv="wfw.page-id" content="form" /> 

    <!-- Internet explorer CSS compatible -->
    <meta http-equiv="X-UA-Compatible" content="IE=8" />

    <!-- Styles -->
    <link rel="stylesheet" href="-{_LIB_PATH_WFW_}/css/wfw-extends.css" type="text/css" />

    <!-- Includes -->
    <script type="text/javascript" language="javascript" src="-{_LIB_PATH_WFW_}/javascript/base.js"></script>
    <script type="text/javascript" language="javascript" src="-{_LIB_PATH_YUI_}/yui/yui-min.js"></script>
    <script type="text/javascript" language="javascript" src="-{_LIB_PATH_WFW_}/javascript/yui/yui_config.js"></script>
    <script type="text/javascript">var wfw_yui_base_path = "-{_LIB_PATH_WFW_}/javascript/yui/";</script>
    <script type="text/javascript" language="javascript" src="js/default_file.js"></script>

    <!-- Styles -->
    <style type="text/css">
        #img{
            float:right;
        }
        fieldset > div > span{
            width:120px;
            display: inline-block;
        }
    </style>
  </head>
  <body>
	<h1>Fichier de configuration locale</h1>
        <p>Ce site posséde la configuration suivante:</p>
        
        <fieldset>
            <legend>Générale</legend>
            <div><span id="title">...</span></div>
            <div><span id="description">...</span></div>
            <img id="logo" src="" width="100px" />
        </fieldset>
        
        <fieldset>
            <legend>Arbre de navigation</legend>
            <div>...</div>
        </fieldset>
  </body>
</html>