<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Exemples WebFrameWork</title>

        <!-- Navigator Page Id -->
        <meta http-equiv="wfw.page-id" content="samples" /> 

        <!-- Internet explorer CSS compatible -->
        <meta http-equiv="X-UA-Compatible" content="IE=8" />

        <!-- Styles -->
        <link rel="stylesheet" href="css/index.css" type="text/css" />

        <!-- Includes -->
        <script type="text/javascript" language="javascript" src="js/index.js"></script>

    </head>

    <!-- Document -->
    <body>
        <h1>Exemples Javascript</h1>
        <p><img style="float:left;" src="-{image:js}" height="40" />Sous Webframework la programmation d'interface utilisteur est basée sur la librairie <a href="http://yuilibrary.com/">Yahoo-UI</a>.</p>

        <!-- Content -->
        <h2>Exemples par thème</h2>

        <div template:action="select" template:path=":default.xml:>tree>samples>js">
            <ul>
                <li template:action="all" template:selector=">*"><a href="-{{page:-{__tag_name__}}}">-{{page:-{__tag_name__}@name}}</a></li>
            </ul>
        </div>
    </body>
</html>