<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" > 
  <head>
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /> 
    <title>X-Arguments</title>
    <link rel="stylesheet" href="../css/wfw-extends.css" type="text/css" />
    <!-- Includes -->
    <script type="text/javascript" language="javascript" src="../javascript/base.js"></script>
    <script type="text/javascript" language="javascript" src="../yui/yui/yui-min.js"></script>
    <script type="text/javascript" language="javascript" src="yui_config.js"></script>
    <script type="text/javascript" language="javascript" src="xarg.js"></script>
  </head>
  <body>
    <h2>X-Arguments</h2>
    <textarea id="text" cols="30" rows="10"></textarea>
    <h2>Javascript Object</h2>
    <textarea id="obj" cols="30" rows="10"></textarea>
  </body>
</html>