<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--(C)2010-ID-Informatik-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
<head>
<title>Nous contacter</title>

<!-- page's id -->
<meta http-equiv="wfw.page-id" content="contact" />

<!-- Includes -->
<script type="text/javascript" language="javascript" src="wfw/javascript/base.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/dom.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/dom-func-compatible.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/wfw.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/wfw-extends.js"></script>

</head>

<!-- Document -->
<body>

<div name="content">
    <center>
    <h1>Pour nous contacter...</h1>

    <fieldset class="wfw_bg_frame" style="margin:16px; max-width:400px;">
        <legend>Notre adresse éléctronique</legend>
        <div style="font-weight:bold;">-{mail:contact}</div>
    </fieldset>

    <fieldset class="wfw_bg_frame" style="margin:16px; max-width:400px;">
        <legend>Notre adresse postale</legend>
        <div style="font-weight:bold;">-{name:contact}</div>
        <div style="font-weight:bold;">-{address:contact}</div>
        <div style="font-weight:bold;">-{zipcode:contact} -{city:contact}</div>
        <div style="font-weight:bold;">-{country:contact}</div>
    </fieldset>

    <fieldset class="wfw_bg_frame" style="margin:16px; max-width:400px;">
        <legend>Notre numéro de téléphone</legend>
        <div style="font-weight:bold;">-{phone:contact}</div>
    </fieldset>

    <p><a href="-{page:index}">Retour à l'accueil</a></p>
    </center>
</div>

</body>

</html>
