<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <title>Guide WebFrameWork</title>

        <!-- Navigator Page Id -->
        <meta http-equiv="wfw.page-id" content="guide" /> 

        <!-- Internet explorer CSS compatible -->
        <meta http-equiv="X-UA-Compatible" content="IE=8" />

    </head>

    <!-- Document -->
    <body>
        <h1>Guide</h1>
        <p>Bienvenue sur l'espace de documentation du projet Webframework.</p>

        <!-- Navigation bar -->
        <div>
            <input type="hidden" id="nav_input" value="index" />
            <div id="nav_bar"></div>
        </div>

        <!-- Content -->
        <h2>Introduction</h2>
        <p>Ce guide vous présente les composants de bases d'un site web dynamique et les outils dont dispose Webframework.</p>

        <!-- Content -->
        <h2>Composants</h2>

        <ul class="component_boxes">

            <li>
                <h3>Templates</h3>
                <p>Les templates permettent la création dynamique des pages HTML.</p>
                <ul class="list-style1">
                    <li>XML Template</li>
                    <li>HTML Template</li>
                </ul>
            </li>

            <li>
                <h3>Contrôles des champs</h3>
                <p>Valider les entrées utilisateurs.</p>
                <ul class="list-style1">
                    <li>Types</li>
                </ul>
            </li>

            <li>
                <h3>Navigation</h3>
                <p>Arboréscence du site web.</p>
                <ul class="list-style1">
                    <li>Fichiers Défault</li>
                    <li>JS Navigator</li>
                </ul>
            </li>

            <li>
                <h3>Requêtes HTTP</h3>
                <p>Echange des données Client -&gt; Serveur.</p>
                <ul class="list-style1">
                    <li>Requêtes Client</li>
                    <li>Réponses Server</li>
                    <li>X-Arg Echange Format</li>
                </ul>
            </li>
        </ul>
    </body>
</html>