<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <!-- Title -->
        <title>Projet WebFrameWork</title>

        <!-- Navigator Page Id -->
        <meta http-equiv="wfw.page-id" content="index" /> 

        <!-- Internet explorer CSS compatible -->
        <meta http-equiv="X-UA-Compatible" content="IE=8" />

        <!-- Styles -->
        <link rel="stylesheet" href="css/index.css" type="text/css" />

        <!-- Includes -->
        <script type="text/javascript" language="javascript" src="js/index.js"></script>

    </head>

    <!-- Document -->
    <body>
        <h1>Webframework</h1>
        <a href="-{page:index}" style="float:right; vertical-align: top;"><img src="bin/pictures/logo_webframework.png" /></a>
        <p>Bienvenue sur l'espace de documentation du projet Webframework.</p>
        <!-- Navigation bar -->
        <div>
            <input type="hidden" id="nav_input" value="index" />
            <div id="nav_bar"></div>
        </div>

        <!-- Content -->
        <h2>Introduction</h2>
        <p>Webframework est une librairie codée en langage PHP/JS déstinée à assister la concéption d'applications Web.</p>
        <p>Ce site vous propose un <a href="-{page:guide}">guide partique de programmation</a>, <a href="-{page:samples}">des exemples de codes</a> et <a href="-{page:modules}">des modules d'extensions</a>.</p>

        <h2>Licence</h2>
        <p>Webframework est un projet Open-Source placé sous licence GPL. Son utilisation n'est pas limitée au secteur publique et peut être utilisée de façon commerciale.</p>
        <p><a href="-{page:licence}">En savoir plus...</a></p>
    </body>
</html>