<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <title>Projet WebFrameWork</title>

        <!-- Navigator Page Id -->
        <meta http-equiv="wfw.page-id" content="index" /> 

        <!-- Internet explorer CSS compatible -->
        <meta http-equiv="X-UA-Compatible" content="IE=8" />

    </head>

    <!-- Document -->
    <body>
        <h1>A Propos de Webframework</h1>
        <a href="-{page:index}" style="float:right;"><img src="bin/pictures/logo_webframework.png" /></a>

        <h2>Auteur</h2>
        <img src="bin/pictures/auguey_thomas.jpg" style="float:left; margin:16px;" height="120" title="AUGUEY Thomas, auteur de Webframework" />
        <p></p>
        <p>Webframework est un projet Open-Source modifiable et utilisable par tous.</p>
        <p>A gauche... c'est moi, je me nomme <strong>Thomas AUGUEY</strong>, j'ai -{age} ans et je suis à l'origine du projet <strong>Webframework</strong>. Si vous voulez en savoir plus, mon profil est diponible sur mon site web personnel: <a href="http://www.aceteam.org">www.AceTeaM.org</a></p>
        <div style="clear: both;"></div>

        <h2>Contact</h2>
        <p>Si vous souhaité me contacter vous pouvez envoyer un mail à l'adresse suivante <a href="mailto:-{mail:contact}">-{mail:contact}</a>, je ferais mon possible pour vous répondre le plus rapidement possible.</p>

        <h2>Contributions</h2>
        <p>A l'heure où ces lignes sont écrites, aucune contribution "extérieur" n'à été apporté au projet. En effet le projet n'est pas connu sur le web et j'en suis le seul contributeur.</p>
        <p>L'Avancement du projet est encore modeste et n'est rattaché à aucune communauté, ceci explique cela...</p>
        <p>Si vous êtes intéressé par ce projet n'hésité pas à <a href="#contact">me contacter</a> pour plus d'informations.</p>

        <h2>Historique</h2>
        <p>Webframework est un projet récent. Développé depuis 2008, son but, lors de sa création été de permettre une vitesse de développement accrue et une compatibilité optimale sur les navigateurs client.</p>
        <p>Webframework à été conçu dans la démarche d'une création d'entreprise (ID-Informatik) spécialisé en site-web. Aucune licence particulière n'a été déposée, le développement étant strictement interne à la société. Aujourd'hui la société n'existant plus, je vous propose ce projet sous licence publique.</p>

        <h2>Licence</h2>
        <p>Le projet Webframework est un projet Open-Source placé sous licence GPL.</p>
        <p>Son utilisation n'est pas limitée au secteur publique et peut être utilisée dans un but commerciale.</p>

    </body>
</html>