<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <title>Modules Webframework</title>

        <!-- Navigator Page Id -->
        <meta http-equiv="wfw.page-id" content="index" /> 

        <!-- Internet explorer CSS compatible -->
        <meta http-equiv="X-UA-Compatible" content="IE=8" />

    </head>

    <!-- Document -->
    <body>
        <h1>Modules</h1>
        <p>L'Utilisation de modules vous permet d'intégrer des morceaux de site développé génériquement pour répondre à des besoins communs.</p>

        <!-- Content -->
        <h2>Liste des modules</h2>
        <p>...</p>
    </body>
</html>