<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <title>Ressources</title>

        <!-- Navigator Page Id -->
        <meta http-equiv="wfw.page-id" content="resources" /> 

        <!-- Internet explorer CSS compatible -->
        <meta http-equiv="X-UA-Compatible" content="IE=8" />

    </head>

    <!-- Document -->
    <body>
        <h1>Ressources</h1>
        <p>Ressources utiles</p>

        <h2>Templates Pure HTML/CSS</h2>
        <ul>
            <li><a href="templates/template2.html" target="template">Background Layer 1</a></li>
            <li><a href="templates/template3.html" target="template">Background Layer 2</a></li>
            <li><a href="templates/template4.html" target="template">Background Layer 3</a></li>
        </ul>
    </body>
</html>