<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <title>Exemples WebFrameWork</title>

        <!-- Navigator Page Id -->
        <meta http-equiv="wfw.page-id" content="samples" /> 

        <!-- Internet explorer CSS compatible -->
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        
        <!-- Styles -->
        <link rel="stylesheet" href="css/samples.css" type="text/css" />
    </head>

    <!-- Document -->
    <body>
        <h1>Exemples</h1>
        <p>Ici vous trouverez des explications détaillées sous forme d'exemples des différentes fonctionnalités de la librairie Webframework.</p>
        <p>Plus d'informations sur le <a href="-{link:wfw_projet}" target="wfw_projet">projet Webframework</a></p>

        <!-- Navigation bar -->
        <div>
            <input type="hidden" id="nav_input" value="index" />
            <div id="nav_bar"></div>
        </div>

        <!-- Content -->
        <h2>Exemples par langages</h2>
        <p>Liste des pages d'exemples</p>

        <div template:action="select" template:path=":default.xml:>tree>samples">
            <div class="column" template:action="all" template:selector=">*">
                <h3><img style="float:left;" src="-{{image:-{__tag_name__}}}" height="40" />-{{page:-{__tag_name__}@name}}</h3>
                
                <p><a href="-{{page:-{__tag_name__}}}">Tout les exemples -{{page:-{__tag_name__}@name}}</a></p>
            </div>
        </div>
    </body>
</html>