<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
    (C)2010-ID-Informatik

    Popup de selection d'un article

    INPUT Values:
        aucune.

    OUTPUT Values:
        sel   : identificateur du document selectionné
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
<head>
<title>Selectionner un fichier RSS ...</title>

<meta name="description" content="Liste des fichiers RSS" />

<!-- Includes -->
<script type="text/javascript" language="javascript" src="wfw/javascript/base.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/dom.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/dom-func-compatible.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/wfw.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/wfw-extends.js"></script>

<!-- wfw : template -->
<script name="link" type="text/javascript" language="javascript" src="wfw/javascript/xml_template.js"></script>

<!-- wfw : page scroll -->
<script name="link" type="text/javascript" language="javascript" src="wfw/javascript/page_scroll.js"></script>

<!-- wfw : list -->
<script name="link" type="text/javascript" language="javascript" src="wfw/javascript/wfw-list.js"></script>

<style name="head" type="text/css">
    a.list_item_text
    {
        color:#999999;
    }
    a.list_item_text:hover
    {
        color:#ee9999;
    }
    a.selected
    {
        color:#000099;
    }
    a.selected:hover
    {
        color:#eeee99;
    }
</style>

<!-- Fonctions -->
<script name="head" type="text/javascript" language="javascript">
// <![CDATA[

var old_selection = null;

//options par defaut
var opt = {
    sel:"" //selection en cours
};

/*
    Initialise le document
*/
wfw.event.SetCallback( // window
    "wfw_window",
    "load",
    "onLoadDoc",
    function()
    {
        // obtient les options 
        var uri_fields = wfw.utils.getURIFields();
        if(uri_fields != null)
        {
            for(opt_name in opt)
            {
                if(typeof(uri_fields[opt_name])=="string")
                    opt[opt_name] = uri_fields[opt_name];
            }
        }

        // genere la liste
        if(UpdateList())
        {
            // selection de base ?
            if(!empty(opt.sel))
            {
                makeSingleSelection(opt.sel);
            }
        }
        //si aucun fichier n'est dispo, avertie par un message
        else
        {
            wfw.style.removeClass($doc("no_content"),"wfw_hidden");
            wfw.style.addClass($doc("scroll_list"),"wfw_hidden");
        }
    }
);

/*
    actualise la selection
*/

function makeSingleSelection(id)
{
    var x,i;
    //recherche les items selectionnés dans la liste d'élément
    var anchor = $doc("anchor_"+id);
    if(anchor){
        wfw.style.addClass(anchor,"selected");
        //termine ici
        old_selection = anchor;
        return $value("id", $value("filename_" + id));
    }
    return false;
}

/*
    Change de selection
*/
function onSelect(id,obj)
{
    // deselectionne ?
    if(wfw.style.haveClass(obj,"selected"))
    {
        wfw.style.removeClass(obj,"selected");
        $value("id","");
        return;
    }

    // selectionne
    if(old_selection!=null)
        wfw.style.removeClass(old_selection,"selected");
    wfw.style.addClass(obj,"selected");
    old_selection = obj;
    $value("id", $value("filename_" + id));

    return false;
}

/*
    Recharge la liste
*/
function UpdateList()
{
    var count = 0;

    /*
        genere la liste des dossiers clients
    */
    var param = {
        "onsuccess": function (obj, args) {
            var olist = $doc("list_content");
            objRemoveChildNode(olist, null, REMOVENODE_ALL);

            //ok ?
            if (empty(args.id))
                return;

            //initialise la liste
            var idList = strToArray(args.id, ";");
            var sizeList = strToArray(args.size, ";");

            for (var i = 0; i < idList.length; i++) {
                /* fabrique le template */
                var args = {
                    id:(uniqid()),
                    file_name:(idList[i]),
                    size: (sizeList[i])
                };
                var item = nodeCloneNode($doc("list_item_template"), true);
                if (item != null) {
                    objInsertNode(item, olist, null, INSERTNODE_END);
                    wfw.template.make(document, item, null, null, args);
                    wfw.style.removeClass(item, "wfw_hidden");

                    count++;
                }
            }
        }
    }
    wfw.request.Add(null,"req/rss/list.php",null,wfw.utils.onCheckRequestResult_XARG,param,false);

    
    /*
        tri la liste
    */
    wfw.ext.sort.sortElementsBy($doc('list_content'), 'file_name', true);

    return count;
}
// ]]>
</script>

</head>

<!-- Document -->
<body>

<div name="content">

<!-- **************************************************
     Message liste vide
*************************************************** -->
<div id="no_content" class="wfw_hidden wfw_ext_adversing">Aucun fichier n'est disponible.</div>

<!-- **************************************************
     Liste des fichiers
*************************************************** -->
<div class="wfw_list_content" style="vertical-align:top;">
    <!-- Item template -->
    <div template:action="ignore" class="wfw_hidden" id="list_item_template" style="margin-left:10px;">
        <!-- sort fields -->
        <input type="hidden" id="filename_-{id}" name="file_name" value="-{file_name}" />
        <input type="hidden" id="size_-{id}" name="size" value="-{size}" />
        <!-- item -->
        <div><a id="anchor_-{id}" class="list_item_text" href="javacript:void();" onclick="onSelect('-{id}',this); return false;">-{file_name}</a></div>
    </div>
    
    <!-- Item list -->
    <div id="list_content"></div>
</div>

<!-- **************************************************
     Selection...
*************************************************** -->

<div class="wfw_hidden">
    <div>Nom <input id="id" type="hidden" value="" /></div>
</div>

</div><!-- content -->

</body>


</html>
