<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head template:action="merge" template:path=">head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <!-- FavIcon -->
        <link rel="icon" type="image/png" href="-{image:icon}" />
        <link rel="shortcut icon" type="image/x-icon" href="-{icon:favicon}" />

        <!-- Main Styles -->
        <link rel="stylesheet" href="-{_LIB_PATH_WFW_}/css/wfw-extends.css" type="text/css" />
        <link rel="stylesheet" href="-{_LIB_PATH_WFW_}/css/wfw-fieldbar.css" type="text/css" />
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
        
        <!-- Main Includes -->
        <script type="text/javascript" language="javascript" src="-{_LIB_PATH_WFW_}/javascript/base.js"></script>
        <script type="text/javascript" language="javascript" src="-{_LIB_PATH_YUI_}/yui/yui-min.js"></script>
        <script type="text/javascript" language="javascript" src="-{_LIB_PATH_WFW_}/javascript/yui/yui_config.js"></script>
        <script type="text/javascript">var wfw_yui_base_path = "-{_LIB_PATH_WFW_}/javascript/yui/";</script>
        
    </head>

    <!-- Document -->
    <body>
        <h2>Classes</h2>
        <ul>
            <li template:action="all" template:selector=">compound[kind=class]">-{name}</li>
        </ul>
        
        <h2>Interfaces</h2>
        <ul>
            <li template:action="all" template:selector=">compound[kind=interface]">-{name}</li>
        </ul>
        
        <h2>Fonctions et Variables</h2>
        <fieldset template:action="all" template:selector=">compound[kind=file]">
            <legend>-{name}</legend>
            <input type="hidden" value="-{@refid}" />
            <strong>Fonctions</strong>
            <ul>
                <li template:action="all" template:selector=">member[kind=function]"><a href="doxy_function.php?ref=-{@refid}">-{name}</a></li>
            </ul>
            <strong>Variables</strong>
            <ul>
                <li template:action="all" template:selector=">member[kind=variable]">-{name}</li>
            </ul>
        </fieldset>
    </body>
</html>