<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head template:action="merge" template:path=">head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <!-- FavIcon -->
        <link rel="icon" type="image/png" href="-{image:icon}" />
        <link rel="shortcut icon" type="image/x-icon" href="-{icon:favicon}" />

        <!-- Main Styles -->
        <link rel="stylesheet" href="-{_LIB_PATH_WFW_}/css/wfw-extends.css" type="text/css" />
        <link rel="stylesheet" href="-{_LIB_PATH_WFW_}/css/wfw-fieldbar.css" type="text/css" />
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/coding.css" type="text/css" />
        
        <!-- Main Includes -->
        <script type="text/javascript" language="javascript" src="-{_LIB_PATH_WFW_}/javascript/base.js"></script>
        <script type="text/javascript" language="javascript" src="-{_LIB_PATH_YUI_}/yui/yui-min.js"></script>
        <script type="text/javascript" language="javascript" src="-{_LIB_PATH_WFW_}/javascript/yui/yui_config.js"></script>
        <script type="text/javascript">var wfw_yui_base_path = "-{_LIB_PATH_WFW_}/javascript/yui/";</script>
        
    </head>

    <!-- Document -->
    <body>
        <!-- <div template:action="one" template:selector=">compounddef>sectiondef>memberdef[id=-{id}]"> -->
        <div template:action="all" template:selector=">compounddef>sectiondef>memberdef[kind=function]">
            <h2 id="-{name}">-{name}</h2>
            <p>-{briefdescription}</p>
            <!-- Syntaxe -->
            <h4>Syntaxe</h4>
            <blockquote>
                <div class="code_syntax">
                    <!--
                    <span template:action="one" template:selector="parameterlist[kind=retval]">
                        <span template:action="one" template:selector=">parameteritem" class="code_syntax_type">-{parametername}</span>
                    </span>-->
                    -{name}(
                    <blockquote template:action="all" template:selector="parameterlist[kind=param]>parameteritem">
                        [-{parametername@direction}] <span class="code_syntax_type">-{type}</span> <span class="code_syntax_definition">-{parametername}</span>,<br />
                    </blockquote>
                    );
                </div>
            </blockquote>
            <!-- Paramètres -->
            <div template:action="one" template:selector="parameterlist[kind=param]">
                <h4>Paramètres</h4>
                <blockquote>
                    <div template:action="all" template:selector=">parameteritem">
                        <span template:action="one" template:selector=">parameternamelist" class="code_syntax_definition">-{parametername}</span>
                        <br />
                        <blockquote template:action="one" template:selector=">parameterdescription">
                            <div template:action="format" template:transform="true">-{__inner_text__}</div>
                        </blockquote>
                    </div>
                </blockquote>
            </div>
            <!-- Retourne -->
            <h4>Retourne</h4>
            <div template:action="one" template:selector="simplesect[kind=return]">
                <blockquote>-{__inner_text__}</blockquote>
            </div>
            <blockquote template:action="one" template:selector="parameterlist[kind=retval]">
                <div template:action="all" template:selector=">parameteritem"><span class="code_syntax_type">[-{parametername}]</span> : -{parameterdescription}</div>
            </blockquote>
            <!-- Remarques -->
            <div template:action="one" template:selector="simplesect[kind=remark]">
                <h4>Remarques</h4>
                <blockquote>-{__inner_text__}</blockquote>
            </div>
            <!-- Textes -->
            <div template:action="one" template:selector="simplesect[kind=par]">
                <h4>-{title}</h4>
                <blockquote>-{para}</blockquote>
            </div>
            <!-- Exemple
            <div template:action="array" template:path="sample">
                <h4>Exemple</h4>
                <blockquote>
                    <p template:action="select" template:path="description">-{__inner_text__}</p>
                    <pre class="prettyprint lang-js script" template:action="format" template:transform="true" template:preset="script">-{code}</pre>
                </blockquote>
            </div> -->
        </div>
    </body>
</html>