<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <body>
        <div id="class_index">
            <h2>Classes</h2>
            <ul class="list-style2">
                <li template:action="all" template:selector=">compound[kind=class]">-{name}</li>
            </ul>
        </div>
        
        <div id="interfaces_index">
            <h2>Interfaces</h2>
            <ul class="list-style2">
                <li template:action="all" template:selector=">compound[kind=interface]">-{name}</li>
            </ul>
        </div>
        
        <div id="functions_index">
            <h2>Fonctions</h2>
            <template:container template:action="all" template:selector=">compound[kind=file]">
                <!-- <h3>-{name}</h3> -->
                <ul class="list-style2">
                    <li template:action="all" template:selector=">member[kind=function]"><a href="doxy_function.php?ref=-{@refid}">-{name}</a></li>
                </ul>
            </template:container>
        </div>
        
        <div id="globals_index">
            <h2>Globales</h2>
            <template:container template:action="all" template:selector=">compound[kind=file]">
                <!-- <h3>-{name}</h3> -->
                <ul class="list-style2">
                    <li template:action="all" template:selector=">member[kind=variable]">-{name}</li>
                </ul>
            </template:container>
        </div>
    </body>
</html>