<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- FavIcon -->
        <link rel="icon" type="image/png" href="-{image:icon}" />
        <link rel="shortcut icon" type="image/x-icon" href="-{icon:favicon}" />
        <!-- Main Styles -->
        <link rel="stylesheet" href="-{_LIB_PATH_WFW_}/css/wfw-extends.css" type="text/css" />
        <link rel="stylesheet" href="-{_LIB_PATH_WFW_}/css/wfw-fieldbar.css" type="text/css" />
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/coding.css" type="text/css" />
        <!-- Main Includes -->
        <script type="text/javascript" language="javascript" src="-{_LIB_PATH_WFW_}/javascript/base.js"></script>
        <script type="text/javascript" language="javascript" src="-{_LIB_PATH_YUI_}/yui/yui-min.js"></script>
        <script type="text/javascript" language="javascript" src="-{_LIB_PATH_WFW_}/javascript/yui/yui_config.js"></script>
        <script type="text/javascript">var wfw_yui_base_path = "-{_LIB_PATH_WFW_}/javascript/yui/";</script>
    </head>
    <!-- Document -->
    <body>
        <!-- <div template:action="one" template:selector=">compounddef>sectiondef>memberdef[id=-{id}]"> -->
        <div>
            <h2 id="in_array_i">in_array_i</h2>
            <p>
        </p>
            <!-- Syntaxe -->
            <h4>Syntaxe</h4>
            <blockquote>
                <div class="code_syntax">
                    <!--
                    <span template:action="one" template:selector="parameterlist[kind=retval]">
                        <span template:action="one" template:selector=">parameteritem" class="code_syntax_type">-{parametername}</span>
                    </span>-->
                    in_array_i(
                    );
                </div>
            </blockquote>
            <!-- Paramètres -->
            <!-- Retourne -->
            <h4>Retourne</h4>
            <!-- Remarques -->
            <!-- Textes -->
            <!-- Exemple
            <div template:action="array" template:path="sample">
                <h4>Exemple</h4>
                <blockquote>
                    <p template:action="select" template:path="description">-{__inner_text__}</p>
                    <pre class="prettyprint lang-js script" template:action="format" template:transform="true" template:preset="script">-{code}</pre>
                </blockquote>
            </div> -->
        </div><div>
            <h2 id="array_choices">array_choices</h2>
            <p>
        </p>
            <!-- Syntaxe -->
            <h4>Syntaxe</h4>
            <blockquote>
                <div class="code_syntax">
                    <!--
                    <span template:action="one" template:selector="parameterlist[kind=retval]">
                        <span template:action="one" template:selector=">parameteritem" class="code_syntax_type">-{parametername}</span>
                    </span>-->
                    array_choices(
                    );
                </div>
            </blockquote>
            <!-- Paramètres -->
            <!-- Retourne -->
            <h4>Retourne</h4>
            <!-- Remarques -->
            <!-- Textes -->
            <!-- Exemple
            <div template:action="array" template:path="sample">
                <h4>Exemple</h4>
                <blockquote>
                    <p template:action="select" template:path="description">-{__inner_text__}</p>
                    <pre class="prettyprint lang-js script" template:action="format" template:transform="true" template:preset="script">-{code}</pre>
                </blockquote>
            </div> -->
        </div><div>
            <h2 id="key_choices">key_choices</h2>
            <p>
        </p>
            <!-- Syntaxe -->
            <h4>Syntaxe</h4>
            <blockquote>
                <div class="code_syntax">
                    <!--
                    <span template:action="one" template:selector="parameterlist[kind=retval]">
                        <span template:action="one" template:selector=">parameteritem" class="code_syntax_type">-{parametername}</span>
                    </span>-->
                    key_choices(
                    );
                </div>
            </blockquote>
            <!-- Paramètres -->
            <!-- Retourne -->
            <h4>Retourne</h4>
            <!-- Remarques -->
            <!-- Textes -->
            <!-- Exemple
            <div template:action="array" template:path="sample">
                <h4>Exemple</h4>
                <blockquote>
                    <p template:action="select" template:path="description">-{__inner_text__}</p>
                    <pre class="prettyprint lang-js script" template:action="format" template:transform="true" template:preset="script">-{code}</pre>
                </blockquote>
            </div> -->
        </div><div>
            <h2 id="choices">choices</h2>
            <p>
        </p>
            <!-- Syntaxe -->
            <h4>Syntaxe</h4>
            <blockquote>
                <div class="code_syntax">
                    <!--
                    <span template:action="one" template:selector="parameterlist[kind=retval]">
                        <span template:action="one" template:selector=">parameteritem" class="code_syntax_type">-{parametername}</span>
                    </span>-->
                    choices(
                    );
                </div>
            </blockquote>
            <!-- Paramètres -->
            <!-- Retourne -->
            <h4>Retourne</h4>
            <!-- Remarques -->
            <!-- Textes -->
            <!-- Exemple
            <div template:action="array" template:path="sample">
                <h4>Exemple</h4>
                <blockquote>
                    <p template:action="select" template:path="description">-{__inner_text__}</p>
                    <pre class="prettyprint lang-js script" template:action="format" template:transform="true" template:preset="script">-{code}</pre>
                </blockquote>
            </div> -->
        </div><div>
            <h2 id="isinit">isinit</h2>
            <p>
        </p>
            <!-- Syntaxe -->
            <h4>Syntaxe</h4>
            <blockquote>
                <div class="code_syntax">
                    <!--
                    <span template:action="one" template:selector="parameterlist[kind=retval]">
                        <span template:action="one" template:selector=">parameteritem" class="code_syntax_type">-{parametername}</span>
                    </span>-->
                    isinit(
                    );
                </div>
            </blockquote>
            <!-- Paramètres -->
            <!-- Retourne -->
            <h4>Retourne</h4>
            <!-- Remarques -->
            <!-- Textes -->
            <!-- Exemple
            <div template:action="array" template:path="sample">
                <h4>Exemple</h4>
                <blockquote>
                    <p template:action="select" template:path="description">-{__inner_text__}</p>
                    <pre class="prettyprint lang-js script" template:action="format" template:transform="true" template:preset="script">-{code}</pre>
                </blockquote>
            </div> -->
        </div><div>
            <h2 id="array_union">array_union</h2>
            <p>
        </p>
            <!-- Syntaxe -->
            <h4>Syntaxe</h4>
            <blockquote>
                <div class="code_syntax">
                    <!--
                    <span template:action="one" template:selector="parameterlist[kind=retval]">
                        <span template:action="one" template:selector=">parameteritem" class="code_syntax_type">-{parametername}</span>
                    </span>-->
                    array_union(
                    );
                </div>
            </blockquote>
            <!-- Paramètres -->
            <!-- Retourne -->
            <h4>Retourne</h4>
            <!-- Remarques -->
            <!-- Textes -->
            <!-- Exemple
            <div template:action="array" template:path="sample">
                <h4>Exemple</h4>
                <blockquote>
                    <p template:action="select" template:path="description">-{__inner_text__}</p>
                    <pre class="prettyprint lang-js script" template:action="format" template:transform="true" template:preset="script">-{code}</pre>
                </blockquote>
            </div> -->
        </div><div>
            <h2 id="wfw_log">wfw_log</h2>
            <p>
        </p>
            <!-- Syntaxe -->
            <h4>Syntaxe</h4>
            <blockquote>
                <div class="code_syntax">
                    <!--
                    <span template:action="one" template:selector="parameterlist[kind=retval]">
                        <span template:action="one" template:selector=">parameteritem" class="code_syntax_type">-{parametername}</span>
                    </span>-->
                    wfw_log(
                    );
                </div>
            </blockquote>
            <!-- Paramètres -->
            <!-- Retourne -->
            <h4>Retourne</h4>
            <!-- Remarques -->
            <!-- Textes -->
            <!-- Exemple
            <div template:action="array" template:path="sample">
                <h4>Exemple</h4>
                <blockquote>
                    <p template:action="select" template:path="description">-{__inner_text__}</p>
                    <pre class="prettyprint lang-js script" template:action="format" template:transform="true" template:preset="script">-{code}</pre>
                </blockquote>
            </div> -->
        </div>
    </body>
</html>
