<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
    (C)2010-ID-Informatik

    Popup de selection d'un dossier template

    INPUT Values:
        aucune.

    OUTPUT Values:
        id   : identificateur du document selectionné
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
<head>
<title>Selectionner un fichier template ...</title>

<meta name="description" content="Liste des fichiers template" />

<!-- Includes -->
<script type="text/javascript" language="javascript" src="wfw/javascript/base.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/dom.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/dom-func-compatible.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/wfw.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/wfw-extends.js"></script>

<!-- wfw : template -->
<script name="link" type="text/javascript" language="javascript" src="wfw/javascript/xml_template.js"></script>

<!-- wfw : page scroll -->
<script name="link" type="text/javascript" language="javascript" src="wfw/javascript/page_scroll.js"></script>

<!-- wfw : list -->
<script name="link" type="text/javascript" language="javascript" src="wfw/javascript/wfw-list.js"></script>

<style name="head" type="text/css">
    a.list_item_text
    {
        color:#999999;
    }
    a.list_item_text:hover
    {
        color:#ee9999;
    }
    a.selected
    {
        color:#000099;
    }
    a.selected:hover
    {
        color:#eeee99;
    }
</style>

<!-- Fonctions -->
<script name="head" type="text/javascript" language="javascript">
// <![CDATA[

var old_selection = null;

//options par defaut
var opt = {
    sel:"", //selection en cours
    prefix: "" //prefix des templates, passé à la requête 'template_file_list.php'
};

/*
    Initialise le document
*/
wfw.event.SetCallback( // window
    "wfw_window",
    "load",
    "onLoadDoc",
    function () {

        // obtient les options 
        var uri_fields = wfw.utils.getURIFields();
        if (uri_fields != null) {
            for (opt_name in opt) {
                if (typeof (uri_fields[opt_name]) == "string")
                    opt[opt_name] = uri_fields[opt_name];
            }
        }

        // genere la liste
        UpdateList();

        // selection de base ?
        if (!empty(opt.sel)) {
            makeSingleSelection(opt.sel);
        }
    }
);

/*
    actualise la selection
*/

function makeSingleSelection(id)
{
    var x,i;
    //recherche les items selectionnés dans la liste d'élément
    var anchor = $doc("anchor_"+id);
    
    if(anchor){
        wfw.style.addClass(anchor,"selected");
        //termine ici
        old_selection = anchor;
        return $value("id",id);
    }
    return false;
}

/*
    Change de selection
*/
function onSelect(id,obj)
{
    // deselectionne ?
    if(wfw.style.haveClass(obj,"selected"))
    {
        wfw.style.removeClass(obj,"selected");
        $value("id","");
        return;
    }

    // selectionne
    if(old_selection!=null)
        wfw.style.removeClass(old_selection,"selected");
    wfw.style.addClass(obj,"selected");
    old_selection = obj;
    $value("id",id);

    return false;
}


/*
    Recharge la liste
*/
function UpdateList()
{
    var list = new Array();
    
    /*
        genere la liste des dossiers clients
    */
    var param = {
        "onsuccess" : function(obj,args)
        {
            var olist = $doc("list_content");
            objRemoveChildNode(olist,null,REMOVENODE_ALL);

            //ok ?
            if(empty(args.id))
            {
                wfw.puts("UpdateList: aucun dossier trouvé");
                return;
            }

            //initialise la liste
            var idList = strToArray(args.id,";");
            for(var i=0; i<idList.length; i++)
            {
                /* fabrique le template */
                var item = nodeCloneNode($doc("list_item_template"),true);
                if(item!=null)
                {
                    objInsertNode(item,olist,null,INSERTNODE_END);
                    wfw.template.make(document,item,null,null,{id:(idList[i])});
                    wfw.style.removeClass(item,"wfw_hidden");
                }
            }
        }
    };

    wfw.request.Add(null, "req/article_writer/template_file_list.php", (empty(opt.prefix) ? null : { prefix: (opt.prefix) }), wfw.utils.onCheckRequestResult_XARG, param, false);

    /*
        tri la liste par date
    */
    wfw.ext.sort.sortElementsBy($doc('list_content'),'id',true);
}
// ]]>
</script>

</head>

<!-- Document -->
<body>

<div name="content">

<!-- **************************************************
     Liste des fichiers
*************************************************** -->
<div class="wfw_list_content" style="vertical-align:top;">
    <!-- Item template -->
    <div class="wfw_hidden" template:action="ignore" id="list_item_template" style="margin-left:10px;">
        <!-- sort fields -->
        <input type="hidden" name="id" value="-{id}" />
        <!-- item -->
        <div><a id="anchor_-{id}" class="list_item_text" href="javacript:void();" onclick="onSelect('-{id}',this); return false;">-{id}</a></div>
    </div>
    
    <!-- Item list -->
    <div id="list_content"></div>
</div>

<!-- **************************************************
     Selection...
*************************************************** -->

<div class="wfw_hidden">
    <div>Nom <input id="id" type="hidden" value="" /></div>
</div>

</div><!-- content -->

</body>


</html>
