<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--(C)2010-ID-Informatik-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
<head>
<title>Gestionnaires de dialogues</title>

<meta http-equiv="wfw.page-id" content="wfw-request" /><!-- page identifier -->

<!-- Includes -->
<script type="text/javascript" language="javascript" src="wfw/javascript/base.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/dom.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/dom-func-compatible.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/wfw.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/wfw-extends.js"></script>

</head>

<!-- Document -->
<body>

    <h1>Dialogues</h1>
    <p>Les dialogues permettent d'attirer l'attention de l'utilisateur sur un contenu ou une question en particulier. Sous Webframework un dialogue vérrouille l'intégralité de la page, ce qui oblige l'utilisateur à intéragir avec celui-ci. </p>
    
    <h2>Elements d'un dialogue</h2>
    
    <h2>Initialisation depuis une frame HTML</h2>
    <h2>Initialisation depuis un élément HTML</h2>
    <h2>Initialisation personnalisé</h2>

</body>
</html>
