<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--(C)2010-ID-Informatik-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
<head>
<title>Requêtes Webframework</title>

<meta http-equiv="wfw.page-id" content="wfw-request" /><!-- page identifier -->

<!-- Includes -->
<script type="text/javascript" language="javascript" src="wfw/javascript/base.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/dom.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/dom-func-compatible.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/wfw.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/wfw-extends.js"></script>

</head>

<!-- Document -->
<body>

<div name="header"><img src="data/pictures/wfw/wfw_logo.png" height="60px" alt="" /></div>

<div name="content">
    <h2>Les Requêtes</h2>
    <p>Accessible par le protocole HTTP, les requêtes serveur permettent la communication avec le client aux fonctionnalités du site.</p>
</div>

</body>
</html>
