
/*
-------------------------------------------------------------------------
    Additionnal Webframework specific
-------------------------------------------------------------------------
*/

/*
    Usage: wfw.ext.document
*/
#picker{
    border:1px solid black;
    text-align:center;
    color:Black;
}

#picker td{
    border:1px solid black;
    cursor:default;
}

#mount_row td
{
    font-size:small;
    font-weight:bold;
    background-color:#ffcc66;
}

#day_row td
{
    font-weight:bold;
    background-color:#ffffcc;
}

.inactive
{
    background-color:#cccccc;
}

.active
{
    background-color:#eeeeee;
}

.active:hover
{
    background-color:#ffffff;
}

.selected
{
    background-color:#ffff00;
}

.selected:hover
{
    background-color:#dddd00;
}

#hour_picker, #min_picker, #sec_picker
{
    width:60px;
}

#time_picker
{
    text-align:center;
}