<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--(C)2010-ID-Informatik-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <title>Webframework Minimal Web-Application</title>

        <!-- page's id -->
        <meta name="page_id" content="index" />

        <!-- Includes
        <script type="text/javascript" language="javascript" src="wfw/javascript/base.js"></script>
        <script type="text/javascript" language="javascript" src="wfw/javascript/dom.js"></script>
        <script type="text/javascript" language="javascript" src="wfw/javascript/dom-func-compatible.js"></script>
        <script type="text/javascript" language="javascript" src="wfw/javascript/wfw.js"></script>
        <script type="text/javascript" language="javascript" src="wfw/javascript/wfw-extends.js"></script>
        -->
        <!-- JQuery -->
        <script type="text/javascript" src="-{_LIB_PATH_JQUERY_}/jquery.js"></script> 
        <!-- Bootstrap -->
        <link href="-{_LIB_PATH_BOOTSTRAP_}/css/bootstrap-combined.min.css" rel="stylesheet" />
        <link href="js/btn-group-vertical.css" rel="stylesheet" />
        <script type="text/javascript" src="-{_LIB_PATH_BOOTSTRAP_}/js/bootstrap.min.js"></script> 

        <style type="text/css">
            body {  
                padding-top: 40px;  
                padding-bottom: 40px;  
            }
            #wfw_logo{
                margin-bottom: 20px;
            }
            .carousel-content{
                margin-left:100px;
                margin-right:100px;
                margin-top:40px;
                padding-bottom:70px;
                min-height:350px;
                display: block;
            }
        </style>
    </head>

    <!-- Document -->
    <body>
        <div class="container-fluid">
            <div class="row-fluid">  
                <div class="span3">
                    <div class="well sidebar-nav">
                        <center><img id="wfw_logo" src="-{_LIB_PATH_WFW_}/bin/logo.png" width="220px" /></center>
                        <ul class="nav nav-list">
                            <li class="nav-header">Liens utiles</li>
                            <li><a href="-{_LIB_PATH_WFW_DOC_}" target="wfw_doc" class="btn" rel="popover" data-content="Afficher la documentation en ligne">Documentation</a></li>
                            <!-- Administrateur -->
                            <template:container template:action="select" template:path=":default.xml:index">
                                <li class="nav-header">Pages</li>
                                <li template:action="all" template:selector="> page"><a href="-{{page:-{@id}}}" class="btn" rel="popover" data-content="-{@name}">-{@id}</a></li>
                            </template:container>
                        </ul>
                        <!-- informatins -->
                        <hr/>
                        <center>Système -{system} détecté</center>
                    </div><!--/.well -->
                </div>  
                <div class="span9">
                    <!-- Sommaire -->
                    <div class="hero-unit">
                        <h1>Hello World !</h1>
                        <h2>Heureux de vous revoir monsieur le développeur.</h2>
                        <p>Que-pensez vous de mon interface réalisée avec <a href="Bootstrap">Bootstrap</a> ?<br/>Pas mal non ? En plus, c'est du responsive mode <code>:))</code></p>
                        <hr/>
                        <p>Et si on commençait les choses sérieuses ?<br/>Avant toutes choses, si vous accédez à ce site depuis le répertoire de Webframework, copiez-le ! (Il est préférable de garder une copie originale pour d'autres sites)</p>
                        <p><a href="#configuration" class="btn btn-primary btn-large">Continuer &raquo;</a></p>
                    </div>

                    <!-- Configuration -->
                    <div id="configuration" class="hero-unit">
                        <h1>Configuration</h1>
                        <h2>Simplifiez-vous la vie...</h2>
                        <p>Cette interface peut vous permettre de configurer simplement votre site dans un premier temps.</p>

                        <div id="myCarousel" class="carousel slide" data-interval="false">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                
                                <!-- Defaults options -->
                                <div class="active item">
                                    <div class="carousel-content">
                                        <form>
                                            <div class="row">  
                                                <div class="span4">
                                                    <label>Titre</label>
                                                    <input name="title" type="text" value="" />
                                                    <label>Description</label>
                                                    <input name="desc" type="text" value="" />
                                                </div>
                                                <div class="span4">
                                                    <label>Auteur</label>
                                                    <input name="autor" type="text" value="" />
                                                    <label>Contact (Mail)</label>
                                                    <input name="contact" type="text" value="" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="carousel-caption">
                                        <h4>Informations</h4>
                                        <p>Identifiez votre site</p>
                                    </div>
                                </div>
                                
                                <!-- Modules -->
                                <div class="item">
                                    <div class="carousel-content">
                                        <form>
                                            <div class="row">  
                                                <div class="span4">
                                                    <h3>Disponibles</h3>
                                                    <div class="btn-group-vertical" data-toggle="buttons-checkbox">
                                                        <button type="button" class="btn btn-primary" rel="popover" data-content="Gérez les comptes utilisateurs">User</button>
                                                        <button type="button" class="btn btn-primary" rel="popover" data-content="Rédigez vos document en ligne">Writer</button>
                                                        <button type="button" class="btn btn-primary" rel="popover" data-content="Gérez les flux de courriers">Mail</button>
                                                        <button type="button" class="btn btn-primary" rel="popover" data-content="Gérez les catalogues d'items">Catalog</button>
                                                    </div>
                                                </div>
                                                <div class="span8">
                                                    <h3>En savoir plus...</h3>
                                                    <p>Les modules sous webframework étend les possibilités de votre application en ajoutant des controleurs et des classes à votre model de données.</p>
                                                    <p>Pour activer un module cliquez simplement sur son nom ci-contre.</p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="carousel-caption">
                                        <h4>Modules</h4>
                                        <p>Activez les modules qui vous intéressent</p>
                                    </div>
                                </div>
                                
                                <!-- Config options -->
                                <div class="item" template:action="select" template:path=":config.xml:">
                                    <div class="carousel-content">
                                        <ul class="nav nav-tabs" id="myTab">
                                            <li template:action="all" template:selector=">*"><a href="#-{__tag_name__}">-{__tag_name__}</a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div template:action="all" template:selector=">*" class="tab-pane" id="-{__tag_name__}">
                                                <div template:action="all" template:selector=">*">  
                                                    <div class="span4">-{__tag_name__}</div>
                                                    <div class="span8">-{__inner_text__}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-caption">
                                        <h4>Configuration</h4>
                                        <p>Affiche l'état de la configuration actuelle</p>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                        </div>
                    </div>
                </div>  
            </div>
        </div>

        <script type="text/javascript">
            $(function (){
                $("*[rel=popover]").popover({trigger:"hover",placement:"right"});
                $('#myTab a:last').tab('show');
                $('#myTab a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                });
            });
        </script>
    </body>

</html>
