<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--(C)2010-ID-Informatik-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
<head>
<title>Bienvenue</title>

<!-- page's id -->
<meta http-equiv="wfw.page-id" content="index" />

<!-- Includes -->
<script type="text/javascript" language="javascript" src="wfw/javascript/base.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/dom.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/dom-func-compatible.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/wfw.js"></script>
<script type="text/javascript" language="javascript" src="wfw/javascript/wfw-extends.js"></script>

</head>

<!-- Document -->
<body>

<div name="content">
    <center>
        <h1>Bienvenue sur WebFrameWork</h1>
        <p>Cher visiteur, notre site internet <strong>-{__title__}</strong> est en cours de création</p>
        <p><a href="-{page:contact}">Pour nous contacter, c'est ici...</a></p>
        <a href="http://www.id-informatik.com"><img src="-{image:logo}" alt="my logo" /></a>
        <p><a href="http://www.aceteam.org/projet_webframework.html">Accès au site de développement Webframework sur AceTeaM</a></p>
    </center>
</div>

</body>

</html>
