
/*
-------------------------------------------------------------------------
    Webframework system icons
-------------------------------------------------------------------------
*/

.wfw_icon
{
	display:inline-block;
	width:32px;
	height:32px;
	background-image: url(wfw-extends/sys_icons_medium.png);
	background-repeat: no-repeat;
	margin:0px;
	padding:0px;
	background-position:center center;
	border:none;
}

/* ligne 0 */
.bottom{ background-position: 0px 0px; }
.left{ background-position: -32px 0px; }
.right{ background-position: -64px 0px; }
.top{ background-position: -96px 0px; }
.print{ background-position: -128px 0px; }
.save{ background-position: -160px 0px; }
.configure{ background-position: -192px 0px; }
.new{ background-position: -224px 0px; }
.open{ background-position: -256px 0px; }
.publish{ background-position: -288px 0px; }

/* ligne 1 */
.no{ background-position: 0px -32px; }
.yes{ background-position: -32px -32px; }
.warning{ background-position: -64px -32px; }
.information, .help{ background-position: -96px -32px; }
.error{ background-position: -64px -16px; }

/* ligne 2 */
.add{ background-position: 0px -64px; }
.sub{ background-position: -32px -64px; }
.edit{ background-position: -64px -64px; }
.delete{ background-position: -96px -64px; }
.separator{ background-position: -128px -64px; }
.refresh, .update{ background-position: -160px -64px; }
.find, .view{ background-position: -192px -64px; }
.send{ background-position: -224px -32px; }

/* ligne 3 */
.fmt_pdf{ background-position: 0px -96px; }
.fmt_txt{ background-position: -32px -96px; }
.file_empty{ background-position: -64px -96px; }
.file_detail{ background-position: -96px -96px; }
.fmt_xml{ background-position: -128px -96px; }
.date{ background-position: -160px -96px; }

/* ligne 3*/
.type_rss{ background-position: 0px -128px; }
