/*
-------------------------------------------------------------------------
    Webframework(R) extended styles
    CSS3

    Z-Order:
        wfw_datalist            : 100
        wfw_ext_lock            : 1000
        wfw_ext_dialog          : 1001
        wfw_hidden_help-content : 10000
-------------------------------------------------------------------------
*/

/*
    wfw-scroll.js
*/
.wfw_ext_scroll {
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    border:0px solid black;
    overflow:hidden;
    /*display:inline-block;*/
    vertical-align:top;
    white-space:nowrap;
    position:relative;
}

.wfw_ext_scroll-content{
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    white-space:nowrap;
    overflow:hidden;
    position:relative;
}

.wfw_ext_scroll-card{
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    white-space:nowrap;
    overflow:hidden;
    top:0px;
    left:0px;
    position:absolute;
}

.wfw_ext_scroll-left
{
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    width:20%;
    background-color:transparent;
    z-index:200;
    border:1px solid red;
}
.wfw_ext_scroll-right
{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    width:20%;
    background-color:transparent;
    z-index:200;
    border:1px solid red;
}/*
.wfw_ext_scroll-content > * {
    padding:0px;
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
}*/

/*
    empeche la selection de l'element par l'utilisteur
*/
.wfw_ext_unselectable
{
   -moz-user-select: none;
   -khtml-user-select: none;
   user-select: none;
   cursor:default;
}

/*
    Invalide input format
    Usage: wfw.ext.document
*/
#wfw_hidden
{
    display:none;
}

/*
    Invalide input format
    Usage: wfw.ext.document
*/
#wfw_ext_content{
    margin:0px;
    padding:0px;
	overflow:hidden;
	font-family:Calibri;
	font-size:10pt;
}

/*
    Invalide input format
    Usage: wfw.ext.bubble
*/
div.wfw_ext_bubble {
	/*position:fixed;  pas de scrooling dans la position (I.E seulement) */
	position:absolute;
	margin: 0px;
	padding: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: #f8eac4 #d4b664 #d4b664 #f8eac4;
	color:#685625;
	background-color: #fae19c;
	font-family:Verdana, Calibri;
	font-size:x-small;
}

/*
    Form List
    Usage: wfw.ext.fieldlist
*/
.wfw_fieldlist legend
{
    padding:0px;
    margin:0px;
    position:relative;
}


/*
    Form List
    Usage: wfw.ext.formlist
*/
div.wfw_ext_static_formlist > fieldset, div.wfw_ext_static_formlist > div {
	margin:3px;
	padding:6px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	color:Black;
	background-color: #EEEEEE;
	font-family:Verdana, Calibri;
	font-size:x-small;
}
div.wfw_ext_formlist > fieldset, div.wfw_ext_formlist > div {
	margin:3px;
	padding:6px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	color:#685625;
	background-color: White;
	font-family:Verdana, Calibri;
	font-size:x-small;
}
table.wfw_ext_formlist 
{
    display:block;
	margin: 0px;
	padding: 6px 6px 6px 6px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	color:#685625;
	background-color: White;
	font-family:Verdana, Calibri;
	font-size:x-small;
}
input.wfw_ext_formlist_field, input.wfw_ext_formlist_field:hover
{
    background-color:transparent;
    border:none;
    color:Black;
}

/*
    Message
    Usage: wfw.ext.document
*/
div.wfw_ext_copyright
{
    font-family:Verdana, Consolas, Calibri;
    font-style:normal;
    font-weight:normal;
    font-size:x-small;
    color:Blue;
    text-align:right;
    background-color:White;
    border:1px solid #b5bfd9;
    margin-top:20px;
    padding:3px;
    cursor:help;
}

/*
    Message
    Usage: wfw.ext.document
*/
.wfw_ext_adversing, .wfw_adversing
{
    font-family:Verdana, Consolas, Calibri;
    font-size:small;
    font-style:italic;
    font-weight:normal;
    color:Red;
    text-align:center;
    background-color:White;
    margin-top:2px;
    margin-bottom:2px;
    padding:3px;
}

div.wfw_ext_adversing, .wfw_adversing
{
    border:1px solid #b5bfd9;
}

span.wfw_ext_adversing, .wfw_adversing
{
	display:inline;
}

.wfw_ext_adversing a, .wfw_ext_adversing a:active
{
    color:Red;
	font-style:italic;
	font-size:11pt;
	font-variant:small-caps;
}

.wfw_ext_adversing a:hover
{
	text-decoration:underline;
}

/*
    Message
    Usage: wfw.ext.document
*/
.wfw_information
{
    font-size:small;
    font-style:italic;
    font-weight:normal;
    color:blue;
}

/*
    Invalide input format
    Usage: wfw.form
*/
input.wfw_invalidate, select.wfw_invalidate
{
    color:White !important;
	background-color:Red !important;
	font-weight:bold !important;
}
/*
    Semi-transparence
    Usage: wfw.ext.document
*/
.wfw_ext_semi_transparency
{
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.wfw_ext_1_4_transparency
{
    filter:alpha(opacity=75);
    -moz-opacity:0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}

.wfw_horizontal_divisor
{
    padding:0px;
    margin:0px;
    width:49%;
    display:inline-block;
    vertical-align:top;
    overflow:hidden;
}

.wfw_vertical_divisor
{
    padding:0px;
    margin:0px;
    height:49%;
    display:block;
    vertical-align:top;
}

/*
-------------------------------------------------------------------------
    Webframework common styles
-------------------------------------------------------------------------
*/

/*
    TradeMark
*/
code.tm 
{
    color:Red;
    font-weight:bold;
}

/*
    Code generique
*/
code.syntax  /*code type*/
{
	margin:10px;
	padding:10px;
	background-color:#dcdcdc;
	font-family:Consolas, Verdana;
	font-size:10pt;
    color:#6f6f6f;
    border:1px solid black;
}

code.syntax .type /*data type*/
{
    font-style:normal;
    font-weight:bold;
}

code.syntax .define /*definition*/
{
    font-style:italic;
    font-weight:normal;
}

/*
    Chemin d'acces
*/
code.path 
{
    background-color:White;
    color:Gray;
    border:1px dashed black;
}
/*
-------------------------------------------------------------------------
 Help container
-------------------------------------------------------------------------
*/
.wfw_overlay
{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}
.wfw_hidden
{
    display:none !important;
}
.wfw_float_content
{
    position:relative;
}
.wfw_datalist
{
    border:1px solid black;
    background-color:White;
    color:Black;
    overflow:hidden;
    z-index:100;
}
.wfw_datalist div
{
    cursor:pointer;
    font-family:Verdana;
    font-size:10px;
    font-style:normal;
    text-align:left;
    padding:4px;
}
.wfw_datalist div:hover
{
    background-color:#eeeeee;
}

.wfw_float
{
    position:absolute;
    left:0px;
    top:0px;
    padding:0px;
    margin:0px;
}
.wfw_box
{
    border:1px solid black;
    background-color:White;
    color:Black;
    overflow:hidden;
}
.wfw_box div
{
    cursor:pointer;
}
.wfw_box div:hover
{
    background-color:#eeeeee;
}

/*
-------------------------------------------------------------------------
 Help container
-------------------------------------------------------------------------
*/

.wfw_hidden_help, .wfw_ext_hidden-contener
{
    position:relative;
/*    font:12px Tahoma;
    color:#106e9a;
    margin-right:5px;
    margin-top:7px;*/
}

.wfw_hidden_help:hover, .wfw_ext_hidden-contener:hover
{
    cursor: help;
}

/*.wfw_hidden_help-content, .wfw_ext_hidden-content
{
    z-index:10000;
    position:absolute;
    border:1px solid #aaa;
    padding:6px 10px 7px 10px;
    font:11px Tahoma;
    width:auto;
    min-width:80px;
    text-align:left;
    background-color:#fffff5;
    color:Black;
    line-height:17px;
    top:100%;
    left:0px;
    display:none !important;
}
*/
.wfw_hidden_help-content:before 
{
    content:"Aide :";
    font-weight:bold;
    text-decoration:underline;
    margin-bottom:8px;
    display:block;
}
.wfw_hidden_help-content, .wfw_ext_hidden-content
{
    text-transform:none;
    margin:5px;
    z-index:10000;
    position:fixed;
    border:1px solid #aaa;
    padding:6px 10px 7px 10px;
    font:11px Tahoma;
    display:block;
    text-align:left;
    background-color:#fffff5;
    color:Black;
    top:0px;
    left:0px;
    display:none !important;
}

.wfw_hidden_help:hover > .wfw_hidden_help-content, .wfw_ext_hidden-contener:hover > .wfw_ext_hidden-content
{
    display:inherit !important;
}

/*
-------------------------------------------------------------------------
 Help container
-------------------------------------------------------------------------
*/

.wfw_menu
{
    cursor:pointer;
}
.wfw_menu ul
{
    z-index:10000;
    position:absolute;
    display:none !important;
    border:1px dashed black;
    background-color:White;
    color:Gray;
    padding:8px;
    margin:0px;
    list-style-type:none;
}
.wfw_menu:hover > ul { display:inherit !important; }

/*
-------------------------------------------------------------------------
    Screen Layer
-------------------------------------------------------------------------
*/

/* conteneur des dialogues
#wfw_ext_dialog
{
    font-family: Calibri;
    font-size: 16px;
    z-index: 1001;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50%;
    margin-left:-25%;
    max-width: 100%;
    width: 60%;
    border: 3px solid #dddddd;
    background-color: white;
    color: black;
    vertical-align: middle;
    text-align: center;
    overflow:hidden;
    border-radius: 10px;
} */
#wfw_ext_dialog
{
    font-family: Calibri;
    font-size: 16px;
    z-index: 1001;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    /*border: 3px solid #dddddd;
    border-radius: 10px;
    background-color: white;*/
    color: black;
    text-align: center;
    position:relative;
    overflow:hidden;
    top:0px;
    bottom:0px;
/*    vertical-align:middle;*/
}

.wfw_ext_dialog-content
{
    border: 3px solid #dddddd;
    border-radius: 10px;
    background-color: white;
}

/* bouton 'OK' du dialogue*/
.wfw_ext_dialog_box_footer
{
    left: 0px;
    vertical-align:middle;
    line-height:50px;
    border-top: 1px solid gray;
    bottom:0px;
    height: 50px;
    position:absolute;
    display: inline-block;
    width:100%;
    background-color: white;
}

/* bouton 'OK' du dialogue*/
.wfw_ext_dialog_box_header
{
    left: 0px;
    border: 0px solid red;
    top:0px;
    height: 46px;
    position:absolute;
    display: inline-block;
    width:100%;
    background-color: white;
    background-image:url('images/dialog_bg.jpg');
    background-repeat:repeat-x;
    background-position:left top;
    vertical-align:middle;
    line-height:46px;
    font-size: 18px;
    font-weight:bold;
} 
/* bouton 'OK' du dialogue*/
.wfw_ext_dialog_box_content
{
    left: 0px;
    border: 0px solid red;
    top:46px;
    bottom: 50px;
    position:absolute;
    display: inline-block;
    width:100%;
    background-color: white;
    overflow-y:scroll;
} 
/* bouton 'OK' du dialogue*/
.wfw_ext_dialog_content
{
    padding:10px;
} 
.wfw_ext_dialog_fixed_size
{
    font-family: Calibri;
    font-size: 16px;
    z-index: 1001;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    color: black;
    vertical-align: middle;
    text-align: center;
    overflow:hidden;
}

/* bouton 'OK' du dialogue */
.wfw_ext_dialog_ok
{
    width:120px;
    height:25px;
    margin:10px;
}

/* bouton 'OK' du dialogue */
.wfw_ext_dialog_cancel
{
    width:120px;
    height:25px;
    margin:10px;
}
    
/* bouton 'OK' du dialogue */
.wfw_ext_dialog_content > fieldset
{
    font-size:12px;
    background-color:transparent;
    border-radius: 3px;
}
.wfw_ext_dialog_content > fieldset > legend
{
    font-size:12px;
    background-color:transparent;
	font-family:Calibri;
}

/* verroue de l'ecran */
#wfw_ext_lock
{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:1000;
    padding:0px;
    margin:0px;
    border:none;
    background-color:Black;
    text-align: center;
    overflow-y:scroll;
    /*opacity: 0.95;*/
}

/* verroue de l'ecran
#wfw_ext_lock:first-child
{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:Black;
    padding:0px;
    margin:0px;
    border:none;
} */

/* verroue de l'ecran */
.wfw_ext_dialog_frame
{
    display:inline-block;
    border:0px solid black;
    width:100%;
    height:100%;
    overflow:hidden;
}

.wfw_ext_lockimage
{
    z-index: 1002;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    position: fixed;
    left:50%;
    top:50%;
    background-color: white;
    color: black;
    overflow:hidden;
    margin: 0px 0px 0px 0px;
    overflow:visible;
}


/*
-------------------------------------------------------------------------
    Webframework commun UI
-------------------------------------------------------------------------
*/

.wfw_ext_button_frame
{
    background-color:#dddddd;
    border:1px solid black;
    height:26px;
    width:26px;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    line-height:22px;
}

.wfw_ext_button_frame > wfw_icon
{
    margin-top:5px !important;
}

/*
-------------------------------------------------------------------------
    Webframework system icons
-------------------------------------------------------------------------
*/

.wfw_icon_loading
{
	display:inline-block;
	width:32px;
	height:32px;
	background-image: url(wfw-extends/loading.gif);
	background-repeat: no-repeat;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background-position:center center;
	border:none;
}

.wfw_icon
{
	display:inline-block;
	width:16px !important;
	height:16px !important;
	background-image: url(wfw-extends/sys_icons_small.png);
	background-repeat: no-repeat;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background-position:center center;
	border:none;
    background-position: -144px -144px !important;/*empty*/
    position:relative;
}

.wfw_icon > .wfw_icon
{
    left:3px;
    top:2px;
    position:absolute;
}

/* ligne 0 */
.bottom{ background-position: 0px 0px !important; }
.left{ background-position: -16px 0px !important; }
.right{ background-position: -32px 0px !important; }
.top{ background-position: -48px 0px !important; }
.print{ background-position: -64px 0px !important; }
.save{ background-position: -80px 0px !important; }
.configure{ background-position: -96px 0px !important; }
.new{ background-position: -112px 0px !important; }
.open{ background-position: -128px 0px !important; }
.publish{ background-position: -144px 0px !important; }

/* ligne 1 */
.no{ background-position: 0px -16px !important; }
.yes{ background-position: -16px -16px !important; }
.warning{ background-position: -32px -16px !important; }
.information, .help{ background-position: -48px -16px !important; }
.error{ background-position: -64px -16px !important; }

/* ligne 2 */
.add{ background-position: 0px -32px !important; }
.sub{ background-position: -16px -32px !important; }
.edit{ background-position: -32px -32px !important; }
.delete,.remove{ background-position: -48px -32px !important; }
.separator{ background-position: -64px -32px !important; }
.refresh, .update{ background-position: -80px -32px !important; }
.find, .view{ background-position: -96px -32px !important; }
.send{ background-position: -112px -32px !important; }
.send_diff{ background-position: -128px -32px !important; }

/* ligne 3 */
.fmt_pdf{ background-position: 0px -48px !important; }
.fmt_txt{ background-position: -16px -48px !important; }
.file_empty{ background-position: -32px -48px !important; }
.file_detail{ background-position: -48px -48px !important; }
.fmt_xml{ background-position: -64px -48px !important; }
.date{ background-position: -80px -48px !important; }
.add_file{ background-position: -96px -48px !important; }
.user_list{ background-position: -112px -48px !important; }
.fmt_jpg, .fmt_jpeg, .fmt_bmp, .fmt_gif, .fmt_png, .fmt_wbmp, .fmt_tiff{ background-position: -128px -48px !important; }
.fmt_css{ background-position: -144px -48px !important; }

/* ligne 4*/
.fmt_rss, .type_rss{ background-position: 0px -64px !important; }
.user{ background-position: -16px -64px !important; }
.remove_file{ background-position: -32px -64px !important; }
.upload{ background-position: -48px -64px !important; }
.download{ background-position: -64px -64px !important; }
.task{ background-position: -80px -64px !important; }
.view_list{ background-position: -96px -64px !important; }
.view_thumbs{ background-position: -112px -64px !important; }
.clone{ background-position: -128px -64px !important; }

/* ligne 5*/
.connect{ background-position: 0px -80px !important; }
.disconnect{ background-position: -16px -80px !important; }
.lock,.locked{ background-position: -32px -80px !important; }
.unlock,.unlocked{ background-position: -48px -80px !important; }
.pwd{ background-position: -64px -80px !important; }
.category{ background-position: -80px -80px !important; }
.fields{ background-position: -96px -80px !important; }
.map{ background-position: -112px -80px !important; }

/* ligne 6*/
.lang_en{ background-position: 0px -96px !important; }
.lang_fr{ background-position: -16px -96px !important; }

.loading{
	display:inline-block;
	width:16px;
	height:16px;
	background-image: url(wfw-extends/loading16.gif);
	background-repeat: no-repeat;
	margin:0px;
	padding:0px;
	background-position:center center;
	border:none;
}
/*
-------------------------------------------------------------------------
    Webframework commun UI styles (button icon)
-------------------------------------------------------------------------
*/

.wfw_button_icon
{
	display:inline-block;
	min-width:28px;
	min-height:28px;
	position:relative;
    
	text-align:center !important;
	vertical-align:middle !important;
	cursor:pointer;
	border:1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    /*pas de surbrillance*/
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.wfw_button_icon:hover
{
	border-color:#999999;
	
	background-color:#C4C4C4; /* si !gradient */
	
    background-image: linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);
    background-image: -o-linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);
    background-image: -moz-linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);
    background-image: -webkit-linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);
    background-image: -ms-linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.1, #C4C4C4),
	    color-stop(0.55, #EDEDED)
    );
}

.wfw_button_icon:active
{
	border-color:#666666;
	
	background-color:#BFBFBF; /* si !gradient */
	
    background-image: linear-gradient(bottom, #BFBFBF 10%, #787878 55%);
    background-image: -o-linear-gradient(bottom, #BFBFBF 10%, #787878 55%);
    background-image: -moz-linear-gradient(bottom, #BFBFBF 10%, #787878 55%);
    background-image: -webkit-linear-gradient(bottom, #BFBFBF 10%, #787878 55%);
    background-image: -ms-linear-gradient(bottom, #BFBFBF 10%, #787878 55%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.1, #BFBFBF),
	    color-stop(0.55, #787878)
    );
}

.wfw_button_icon > .wfw_icon
{
	position:absolute;
	text-align:center !important;
	vertical-align:middle !important;
	top: 50%;
	margin-top:-8px;
	left: 50%;
	margin-left:-8px;
}

.wfw_button_icon:active > .wfw_icon
{
	position:absolute;
	text-align:center !important;
	vertical-align:middle !important;
	top: 50%;
	margin-top:-9px;
	left: 50%;
	margin-left:-9px;
}
/*
-------------------------------------------------------------------------
    Webframework commun UI styles (button avec et icone)
-------------------------------------------------------------------------
*/

span.wfw_button_text
{
    display:inline-block;
}

div.wfw_button_text
{
    display:block;
}

.wfw_button_text
{
	min-width:28px;
	min-height:14pt;
	line-height:14pt;
	width:auto;
	position:relative;
	margin:2px 0px 2px 0px;
	padding-left:20px;
	padding-right:20px;
	padding-top:4px;
	padding-bottom:4px;
	text-align:center !important;
	vertical-align:middle !important;
	cursor:pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size:7pt;
    font-weight:bold;
    font-family: verdana;
    color:#555555;
    text-transform:uppercase;
    
    border:1px outset transparent;
	border-color:#999999;
    border-radius: 5px;
	
	background-color:#C4C4C4; /* si !gradient */
	
    background-image: linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);
    background-image: -o-linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);
    background-image: -moz-linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);
    background-image: -webkit-linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);
    background-image: -ms-linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.1, #C4C4C4),
	    color-stop(0.55, #EDEDED)
    );
    
    /*pas de surbrillance*/
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.wfw_button_text:hover
{
	border-color:#999999;
	
	background-color:#C4C4C4; /* si !gradient */
	
    background-image: linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);
    background-image: -o-linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);
    background-image: -moz-linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);
    background-image: -webkit-linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);
    background-image: -ms-linear-gradient(bottom, #C4C4C4 10%, #EDEDED 55%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.1, #C4C4C4),
	    color-stop(0.55, #EDEDED)
    );
}

.wfw_button_text:active
{
	border-color:#666666;
	border-style: inset;

	background-color:#BFBFBF; /* si !gradient */
	
    background-image: linear-gradient(bottom, #BFBFBF 10%, #787878 55%);
    background-image: -o-linear-gradient(bottom, #BFBFBF 10%, #787878 55%);
    background-image: -moz-linear-gradient(bottom, #BFBFBF 10%, #787878 55%);
    background-image: -webkit-linear-gradient(bottom, #BFBFBF 10%, #787878 55%);
    background-image: -ms-linear-gradient(bottom, #BFBFBF 10%, #787878 55%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.1, #BFBFBF),
	    color-stop(0.55, #787878)
    );

    color:#eeeeee;
}

.wfw_button_text:active > *
{
    position:relative;
    top:-1px;
    left:-1px;
}

.wfw_button_text > .wfw_icon
{
	position:absolute;
	vertical-align:middle !important;
	top: 50%;
	margin-top:-8px;
	left: 2px;
	margin-left:0px;
}

.wfw_button_text:active > .wfw_icon
{
	position:absolute;
	vertical-align:middle !important;
	top: 50%;
	margin-top:-9px;
	left: 2px;
	margin-left:0px;
}

.wfw_button_text > input
{
	line-height:10pt;
    height:10pt;
    border:none;
    background-color:transparent;
    font-size:8pt;
    display:block;
    vertical-align:middle;
    width:100%;
    padding-left:8px;
}

/*
-------------------------------------------------------------------------
    Webframework commun UI styles (fixed)
-------------------------------------------------------------------------
*/

.wfw_fixed_icon
{
	display:inline-block;
	min-width:28px;
	min-height:28px;
	position:relative;
    
	text-align:center !important;
	vertical-align:middle !important;
	cursor:default;
}

.wfw_fixed_icon > .wfw_icon
{
	position:absolute;
	text-align:center !important;
	vertical-align:middle !important;
	top: 50%;
	margin-top:-8px;
	left: 50%;
	margin-left:-8px;
}

/*
-------------------------------------------------------------------------
    Webframework commun UI styles ( font de frame )
-------------------------------------------------------------------------
*/

.wfw_bg_frame
{
	cursor:default;
	border:1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

	border-color:#999999;
	
	background-color:#E3E0E3; /* si !gradient */
	
    background-image: linear-gradient(bottom, #B3B3B3 10%, #E3E0E3 55%);
    background-image: -o-linear-gradient(bottom, #B3B3B3 10%, #E3E0E3 55%);
    background-image: -moz-linear-gradient(bottom, #B3B3B3 10%, #E3E0E3 55%);
    background-image: -webkit-linear-gradient(bottom, #B3B3B3 10%, #E3E0E3 55%);
    background-image: -ms-linear-gradient(bottom, #B3B3B3 10%, #E3E0E3 55%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.1, #B3B3B3),
	    color-stop(0.55, #E3E0E3)
    );
    padding:3px;
}

.wfw_bg_frame a
{
    font-style:normal;
    font-weight:normal;
    color:#0066cc;
}

/*fieldset*/

fieldset.wfw_bg_frame legend
{
    padding-top:20px;
}
fieldset.wfw_bg_frame legend
{
    top:0px;
    position:relative;
    font-weight:bold;
    text-decoration:underline;
}

/*
-------------------------------------------------------------------------
    edit field
    Permet de mettre en forme rapidement une liste de champs editables
    ex:
        <div class="wfw_edit_field">
            <span>Name</span>
            <span>Value</span>
        </div>
        ...
-------------------------------------------------------------------------
*/

.wfw_edit_field, .wfw_static_field
{
    width:100%;
    color:#444444;
    border-bottom:1px solid #eeeeee;
    margin-bottom:4px;
    padding-bottom:4px;
    text-align: :left;
}
/* gauche (nom)*/
.wfw_edit_field > label:first-child, .wfw_static_field > label:first-child,
.wfw_edit_field > span:first-child, .wfw_static_field > span:first-child
{
    width:30%;
    display:inline-block;
    text-align:right;
    padding-right:4px;
    margin-right:4px;
    background-color:#eeeeee;
    font-weight:bold;
    vertical-align:top;
    line-height:20px;
}
/* droite (edit)*/
.wfw_edit_field > span:nth-child(2), .wfw_static_field > span:nth-child(2)
{
    width:65%;
    display:inline-block;
    background-color:transparent;
    margin-left:4px;
}
/* contenu editable*/
.wfw_edit_field span:last-of-type input, .wfw_edit_field span:last-of-type input /*, .wfw_edit_field span:last-of-type span*/
{
    width:auto;
    display:inline-block;
    border:none;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    background-color:transparent;
    text-align:left;
    color:#999999;
}

.wfw_edit_field span:last-of-type input[type=text],.wfw_edit_field span:last-of-type input[type=file],.wfw_edit_field span:last-of-type input[type=submit],.wfw_edit_field span:last-of-type input[type=reset],.wfw_edit_field span:last-of-type input[type=password],.wfw_edit_field span:last-of-type input[type=button],.wfw_edit_field span:last-of-type select,.wfw_edit_field span:last-of-type textarea
{
    width:100%;
    color:black;
    border:none;
    min-height:20px;
    background-color:#eeeeee;
}
.wfw_edit_field span:last-of-type input[readonly],.wfw_edit_field span:last-of-type select[readonly],.wfw_edit_field span:last-of-type textarea[readonly]
{
    font-style:italic;
    background-color:#eeeeee;
    color:#9a9a9a;
}
.wfw_edit_field span:last-of-type input[disabled],.wfw_edit_field span:last-of-type select[disabled],.wfw_edit_field span:last-of-type textarea[disabled]
{
    font-style:italic;
    background-color:#eeeeee;
    color:#9a9a9a;
}
.wfw_edit_field:last-child
{
    border:none;
}